# Build artifacts
*.o
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile.gui
Makefile.qt
.qmake.stash
moc_predefs.h

# Executables
suffix_tree_cli
SuffixTreeGUI
test_employee_rating

# Build directories
build/
